$main-font-family: Helvetica, sans-serif;
$secondary-font-family: 'Playfair Display', serif;

$main-background-color: #e5e5e5;
$container-background-color: #f7f7f7;
$navigation-background-color: #fff;
$main-color: #3e3e3e;
$secondary-color: #259609;
$border-color: #ececec;
$hovered-background-color :#f2f2f2;
$opacity-background-color: rgba(37, 150, 9, .15);
$card-type2-color: #fff;
$mobile-background-color: #f1f1f1;
$mobile-color: #000;

@mixin fluid-type($min-font-size: 12px, $max-font-size: 30px, $lower-range: 768px, $upper-range: 1440px) {

    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / (($lower-range * 0) + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
}