-
    let data = [
        {
            image : 'logo1',
            title: '',
            type: 1,
            info: 'Every 12 weeks'
        },
        {
            image : 'logo2',
            title: 'MSc Data Analytics and Information Systems Management',
            type: 2,
            info: '£8,500'
        },
        {
            image : 'logo3',
            title: '',
            type: 1,
            info: 'Every 12 weeks'
        },
        {
            image : 'logo2',
            title: 'MSc Data Analytics and Information Systems Management',
            type: 2,
            info: '£8,500'
        },
        {
            image : 'logo5',
            title: '',
            type: 1,
            info: 'Every 12 weeks'
        },
        {
            image : 'logo6',
            title: '',
            type: 1,
            info: 'January, April, July, October, November'
        }
    ];